@media screen and (min-width: 320px) {
  .container {
    max-width: 428px;
  }

  .site-nav {
    width: 100%;
    justify-content: space-between;
  }

  .site-nav-list, .contacts, .specifics-list-item::before {
    display: none;
  }

  .section-specifics-sm {
    padding-bottom: 18px;
  }

  .specifics-list {
    flex-direction: column;
    row-gap: 72px;
  }

  .specifics-list-item {
    width: 100%;
  }

  .specifics-list-title {
    text-align: center;
    text-transform: capitalize;
  }

  .work {
    display: none;
  }

  .team-list {
    justify-content: center;
    row-gap: 72px;
  }

  .team-section {
    padding-bottom: 96px;
  }

  .footer-logo-block {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .subscribe-field {
    flex-wrap: wrap;
  }

  .subscribe-block-input {
    margin-bottom: 16px;
  }

  .subscribe-block-button {
    margin-left: 0;
    margin: auto;
  }

  @media screen and (max-width: 468px) {
    .subscribe-block {
      width: 100%;
    }
  }

}