@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }

  img {
    max-width: 100%;
  }

  .site-nav {
    width: 100%;
    justify-content: space-between;
  }

  .site-nav-list, .contacts, .specifics-list-item::before {
    display: none;
  }

  .mobile-menu-item .current-mobile-menu {
    color: var(--primary-pressed-state);
  }

  @media screen and (max-width:428px) {
    .hero {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img16-mobile.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 428px),
    screen and (min-resolution: 192dpi) and (max-width: 428px),
    screen and (min-resolution: 2dppx) and (max-width: 428px) {
      .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img16-mobile@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 429px) and (max-width: 767px) {
    .hero {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img16-tablet.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (min-width: 429px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 429px) and (max-width: 767px) {
      .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img16-tablet@2x.jpg);
      }
    }
  }



  .section-specifics-sm {
    padding-bottom: 18px;
  }

  .specifics-list {
    flex-direction: column;
    row-gap: 72px;
  }

  .specifics-list-item {
    width: 100%;
  }

  .specifics-list-title {
    text-align: center;
    text-transform: capitalize;
  }


  .work {
    display: none;
  }

  .team-list {
    justify-content: center;
    row-gap: 72px;
  }

  .team-section {
    padding-bottom: 96px;
  }

  .footer-logo-block {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .subscribe-field {
    flex-wrap: wrap;
  }

  .subscribe-block-input {
    margin-bottom: 16px;
  }

  .subscribe-block-button {
    margin-left: 0;
    margin: auto;
  }

  @media screen and (max-width: 468px) {
    .subscribe-block {
      width: 100%;
    }
  }


  /* PORTFOLIO */

}

/* MENU */
@media screen and (max-width:410px) {
  .social-list-mobile {
    gap: 30px;
  }

  .address-list-item-tel {
    font-size: 26px;
  }
}